.App {
  width: 100%;
  padding: 2em 0;
}

.profiles-list-component {
  width: 100%;
}

.App h1 {
  text-align: center;
  padding: 1em;
}

.page-buttons {
  display: flex;
  max-width: 1240px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  align-items: center;
}

.page-button {
  padding: 1em;
  margin: 0.5em;
  color: #fff;
  background-color: #49a6e9;
  border-color: #49a6e9;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: bold;
}

.page-button:hover {
  background-color: #0993f5;
  border-color: #0993f5;
}

.active {
  background-color: #fff;
  color: #000;
}

.prev-next {
  /* display: inline-block; */
  color: #000;
  border: 3px solid #0993f5;
  cursor: pointer;
  padding: 0.25em 3em;
  margin: 0 1em;
}

.prev-next:hover {
  color: #0993f5;
  border-color: #000;
}
